PORT=8001
PPS_SERVICE_KEY=
PPS_ITEM_INFO_ENDPOINT=
PPS_OPEN_STANDARD_ENDPOINT=
PPS_USER_INFO_ENDPOINT=
DATA_GO_KR_SHOPPING_MALL_KEY=
DATA_GO_KR_CONTRACT_KEY=
DATA_GO_KR_USER_INFO_KEY=
DATA_GO_KR_STANDARD_KEY=
